{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- Загружаем фильтры (чтобы использовать фильтр "ЦЕНЗОР") -->

<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все публикации -->
{% block content %}
    <section class="section">
        <h1 class="title">Свежие публикации от {{ time_now|date:'M d Y' }}</h1>
        <h2 class="subtitle">
        Здесь представлены <strong>последние</strong> добавленные публикации, выбирайте и читайте.
        </h2>
</section>

<!-- Перед таблицей добавим форму для поиска -->
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>



<!--
<table>
    <thead>
        <th>Название</th>
        <th>Дата публикации</th>
        <th>Автор</th>
        <th>Категория</th>
    </thead> -->
    {% for post in filter.qs %} <!-- поменяем post_list на filter.qs, т.к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
<br>
<div class="card">
    <!--
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  -->
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">
            <a href="{% url 'post_detail' post.id %}">{{ post.post_title |  title }}
            </a>
        </p>
        <p class="subtitle is-6">{{ post.author | title }}</p>
      </div>

        {% for category in post.categories.all %}

        {% if not user in category.subscribers.all %}

        <div class="media-right">
             <button class="button is-small is-danger is-light is-rounded ">
                 <span class="icon">
                     <i class="fa-solid fa-circle-minus"></i>
                 </span>
                 <a href="{% url 'subscribe' category.id %}" title="Подписаться">
                         {{category}}
                 </a>
             </button>
        </div>
        {% else %}

                    <button class="button is-small is-success is-rounded">
                        <span class="icon">
                        <i class="fa-solid fa-circle-plus"></i>
                        </span>
                        <a href="{% url 'unsubscribe' category.id %}" title="Отписаться">
                            {{category}}
                        </a>
                    </button>

            {% endif %}
            {% endfor %}
    </div>

    <div class="content">
      {{ post.post_text | truncatewords:20 }}

      <br>
      <time datetime="2016-1-1">{{ post.creation_date | date:'d.M.Y' }}</time>

    </div>
  </div>


    <footer class="card-footer">
            <!-- добавим ссылку на редактирование публикации-->
            <a href="{% url 'post_update' post.id %}" class="card-footer-item">Редактировать</a>
            <!-- добавим ссылку на удаление публикации-->
            <a href="{% url 'post_delete' post.id %}" class="card-footer-item">Удалить</a>
    </footer>
</div>

 <br>

<!--
<tr>
        <td>
            <a href="{% url 'post_detail' post.id %}">{{ post.post_title |  title }}</a>
            <a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a>
            <a href="{% url 'post_delete' post.id %}"><u>Удалить</u></a>
        </td>
        <td>{{ post.creation_date | date:'d.M.Y' }}</td>

        <td>{{ post.author | title }}</td>

        <td>{% for category in post.categories.all %}
            {{ category.category_name }}
            {% endfor %}
        </td>

    </tr>
    {% endfor %}
</table>
-->
<!-- Проверяем, что поддерживается постраничный вывод -->
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}

{% endblock content %}
